{% include 'main.html' %}
{%block content %}
<div class="container">
  <div class="row">
{% for arnaque in listArnaques %}
<div class="card col-3 ml-2">
  <div class="card">
    <img src="{{ arnaque.image.url }}" class="card-img-top" alt="Card image cap" >
    <div class="card-body" >
        <h4 class="card-title"><a>{{arnaque.titre}}</a></h4>
      <p class="card-text">{{arnaque.contenu|truncatewords:8}}</p>
      <p class="card-text"><small class="text-muted">publié il ya {{arnaque.date_creation}}</small></p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
  </div>
</div>




